body{
  display: flex;
  align-items: center;
  justify-content: center;
}

#table{
  justify-content: center;
  align-items: center;
  text-align: center;
}
canvas{
  width:800px;
  height:750px;
  margin-top: 20px;
}

#newBtns{
  display:flex;
  flex-direction: column;
}

#subjects input{
  margin: 5px;
  width: 130px;
}

#newBtns button{
  margin: 5px;
  width: 130px;
  height: 35px;
  border-radius: 5px;
  border-color: white;
  color:white;
  font-size: 15px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #92a8d1;
}