@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272627;
}

canvas {
  width: 800px;
  height: 800px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 30px white;
}

.optionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  gap: 20px;
}

/* optioncontainer children */
#lineWidth,
#color,
#eraser,
#clear {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  width: 333px;
  height: 50px;
}

button,
label {
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 12px 40px;
  border-radius: 40px;
  font-size: 1.05em;
  background: #2f2f2f;
  color: #bbb;
  letter-spacing: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  border: none;
  transition: 0.5s;
  overflow: hidden;
}

button:hover {
  color: #ffff;
}

button span {
  position: absolute;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
label[for="text"] {
  display: flex;
  width: 260px;
  height: 50px;
}

label input[type="text"] {
  width: 240px;
  background: none;
  border: none;
  color: #bbb;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 350px;
    height: 350px;
  }
}
