html {
  height: 100vh;
  width: 100vw;
}
h1 {
  color: black;
  text-align: center;
  background: linear-gradient(to right, #f00, #00f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  width: 100vw;
}
.color-box {
  width: 100px;
  height: 100px;
  color: white;
  text-align: center;
  line-height: 100px;
}
.WarmFlame {
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
}
.NightFade {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.SpringWarmth {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.JuicyPeach {
  background-image: linear-gradient(
    to top,
    #4fb576 0%,
    #44c489 30%,
    #28a9ae 46%,
    #28a2b7 59%,
    #4c7788 71%,
    #6c4f63 86%,
    #432c39 100%
  );
}
.YoungPassion {
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
}
.LadyLips {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.SunnyMorning {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
